<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body data-th-replace="/layout/topAndFoot">

<div class="am-u-md-8 am-u-sm-12" th:fragment="content">
    <article class="am-article blog-article-p">
        <div class="am-article-hd">
            <h1 class="am-article-title blog-text-center" th:text="${article.title}"></h1>
            <p class="am-article-meta blog-text-center">
                <span><a href="#" class="blog-color" th:text="${article.category}"> &nbsp;</a></span>-
                <span><a href="#" th:text="${article.author.name}">&nbsp;</a></span>-
                <span><a href="#" th:text="${#dates.format(article.time,'yyyy年MM月dd日')}"></a></span>
            </p>
        </div>
        <div id="artContent" class="am-article-bd" th:utext="${article.content}">
            <img th:src="@{/user/assets/i/f10.jpg}" alt="" class="blog-entry-img blog-article-margin">
        </div>
    </article>

    <div class="am-g blog-article-widget blog-article-margin">
        <div class="am-u-lg-4 am-u-md-5 am-u-sm-7 am-u-sm-centered blog-text-center">
            <span class="am-icon-tags"> &nbsp;</span><label th:text="${article.tag}"></label>
            <hr>
            <a href="tencent://message/?uin=1742648428&Site=&Menu=yes"><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
            <a href=""><span class="am-icon-wechat am-icon-fw blog-icon"></span></a>
            <a href=""><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>
        </div>
    </div>

    <hr>
    <div class="am-g blog-author blog-article-margin">
        <div class="am-u-sm-3 am-u-md-3 am-u-lg-2">
            <img th:src="@{/user/assets/i/f15.jpg}" alt="" class="blog-author-img am-circle">
        </div>
        <div class="am-u-sm-9 am-u-md-9 am-u-lg-10">
            <h3><span>作者 &nbsp;: &nbsp;</span><span class="blog-color" th:text="${article.author.name}"></span></h3>
            <p>这个作者很懒，甚至懒得自我介绍</p>
        </div>
    </div>
    <hr>
    <ul class="am-pagination blog-article-margin">
        <li class="am-pagination-prev"><a href="#" class="">&laquo; 一切的回顾</a></li>
        <li class="am-pagination-next"><a href="">不远的未来 &raquo;</a></li>
    </ul>

    <hr>

    <form class="am-form am-g">
        <h3 class="blog-comment">评论</h3>
        <fieldset>
            <div class="am-form-group am-u-sm-4 blog-clear-left">
                <input type="text" class="" placeholder="名字">
            </div>
            <div class="am-form-group am-u-sm-4">
                <input type="email" class="" placeholder="邮箱">
            </div>

            <div class="am-form-group am-u-sm-4 blog-clear-right">
                <input type="password" class="" placeholder="网站">
            </div>

            <div class="am-form-group">
                <textarea class="" rows="5" placeholder="一字千金"></textarea>
            </div>

            <p>
                <button type="submit" class="am-btn am-btn-default">发表评论</button>
            </p>
        </fieldset>
    </form>
    <hr>
</div>

</body>
</html>