<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" th:href="@{/user/assets/i/favicon.png}">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" th:href="@{/user/assets/i/app-icon72x72@2x.png}">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" th:href="@{/user/assets/i/app-icon72x72@2x.png}">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
    <link rel="stylesheet" th:href="@{/user/assets/css/amazeui.min.css}">
    <link rel="stylesheet" th:href="@{/user/assets/css/app.css}">
</head>
<body>
<header>
    <div class="log-header">
    <h1><a href="/">成哥的博客</a> </h1>
</div>
</header>

<div class="log">
    <div class="am-g">

        <div class="am-u-lg-3 am-u-md-6 am-u-sm-8 am-u-sm-centered log-content">
            <h1 class="log-title am-animation-slide-top">AmazeUI</h1>
            <br>
            <form class="am-form" id="log-form" >
                <label th:text="${msg}" id="msg"></label>
                <div class="am-input-group am-radius am-animation-slide-left">
                    <input type="email" id="email" name = "email" class="am-radius" data-validation-message="请输入正确邮箱地址" placeholder="邮箱" required/>
                    <span class="am-input-group-label log-icon am-radius"><i class="am-icon-user am-icon-sm am-icon-fw"></i></span>
                </div>
                <br>
                <div class="am-input-group am-animation-slide-left log-animation-delay">
                    <input type="password"  class="am-form-field am-radius log-input" id="password" placeholder="密码" minlength="3" required>
                    <span class="am-input-group-label log-icon am-radius"><i class="am-icon-lock am-icon-sm am-icon-fw"></i></span>
                </div>
                <br>
                <button type="button" onclick="login()" class="am-btn am-btn-primary am-btn-block am-btn-lg am-radius am-animation-slide-bottom log-animation-delay">登 录</button>
                <p class="am-animation-slide-bottom log-animation-delay"><a href="#">忘记密码?</a></p>
                <script>
                    function  login() {
                        var myForm = $("#log-form");
                        var email = $("#email").val();
                        var password = $("#password").val();
                        if(email == "" || password == "") {
                            $("#msg").html("<font color='white'>用户名或密码不能为空</font>");
                        }else{
                            var url = "/user/login";
                            $.post(url, {"email":email, "password":password}, function (data) {
                                if(data == "notExsit" || data == "error"){
                                    $("#msg").html("<font color='white'>用户名或密码错误</font>");
                                }else{
                                    window.location.href = "/user/toIndex";
                                }
                            })
                        }
                    }

                </script>
               <!-- <div class="am-btn-group  am-animation-slide-bottom log-animation-delay-b">
                    <p>使用第三方登录</p>
                    <a href="#" class="am-btn am-btn-secondary am-btn-sm"><i class="am-icon-github am-icon-sm"></i> Github</a>
                    <a href="#" class="am-btn am-btn-success am-btn-sm"><i class="am-icon-google-plus-square am-icon-sm"></i> Google+</a>
                    <a href="#" class="am-btn am-btn-primary am-btn-sm"><i class="am-icon-stack-overflow am-icon-sm"></i> stackOverflow</a>
                </div>-->
            </form>
        </div>
    </div>
    <footer class="log-footer">
        苗成的博客© 2018 Powered by spring boot. 京ICP备18020608号-1
    </footer>
</div>
<!--[if (gte IE 9)|!(IE)]><!-->
<script th:src="@{/user/assets/js/jquery.min.js}"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script th:src="@{/user/assets/js/amazeui.ie8polyfill.min.js}"></script>
<![endif]-->
<script th:src="@{/user/assets/js/amazeui.min.js}"></script>
<script th:src="@{/user/assets/js/app.js}"></script>
</body>
</html>